@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.bg {
  background-image: linear-gradient(153deg, #712bda, #a45deb 100%);
}

img.logo {
  width: 72.2px;
  height: 83.8px;
  margin: 0 103.8px 219.2px 104px;
  object-fit: contain;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
