.Rectangle {
  height: 40px;
  margin: 15px 0 0;
  text-align: center;
  border-radius: 200px;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.2s;
}

.Rectangle:active {
  transform: scale(0.95);
  transition: all 0.2s;
}

.primary {
  background-image: linear-gradient(98deg, #712bda, #a45deb);
}

.Search {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #fff;
}
